﻿@using PFR_INVEST.Web2.Models;

@model WebNpfCorrespViewModel

@{ 
var defTextWidth = 400;
var defLabelWidth = 250;
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.IncomingDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.IncomingDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().RadioButtonList(settings =>
{
    settings.Name = "radioButtonList1";
    settings.Properties.ValueField = "ID";
    settings.Properties.TextField = "Name";
    settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Flow;
    settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
    settings.Properties.RepeatColumns = 2;
    settings.Properties.ValueType = typeof(bool);
    settings.Properties.Items.Add("№", false);
    settings.Properties.Items.Add("Реестр", true);
    settings.Properties.ClientSideEvents.ValueChanged= "function (s,e) { if(s.GetValue() == true) {eval(IncomingNumber).SetValue('Реестр'); eval(IncomingNumber).SetEnabled(false); } else { eval(IncomingNumber).SetValue(''); eval(IncomingNumber).SetEnabled(true); } }";
}).Bind(Model.Checked).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.IncomingNumber, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.IncomingNumber, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.LegalEntityID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.LegalEntityID, settings =>
    {
        FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "FormalizedNameFull", "ID", typeof(long));
    }).BindList(Model.SendersList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.OutgoingDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.OutgoingDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>


<div class="line">
    @Html.DevExpress().LabelFor(model => model.DocumentClassID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.DocumentClassID, settings =>
    {
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Name", "ID", typeof(long));
    }).BindList(Model.DocumentClassList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.AdditionalInfoText, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.AdditionalInfoText, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>