@using PFR_INVEST.Web2.BusinessLogic.Models

@model IWebListViewModel

@if (Model.AttachDefaultGridScripts)
{
@Html.Partial("_ListScriptIncludePartialView", Model, ViewData)
}


<script>
    function listRowDoubleClickSpecial(s, e, itemId, linkedItemId) {
        debugger;

        s.GetValuesOnCustomCallback(e.visibleIndex,
            function(v) {
                if (v != null && v) {
                    var data = JSON.parse(v);
                    OnRibbonCommandExecutedExternal(data.register_id > 0 ? itemId : linkedItemId, '@Model.AjaxController', data.register_id > 0 ? data.register_id : data.fr_id, 0, 0, data.fr_id > 0 ? itemId : null);
                }
            });
    }

</script>

<div class="gridHorizontalScrollDiv">
    @Html.Partial("_CorrespondenceActiveListContainerViewPartial", Model)
</div>
