﻿@using PFR_INVEST.Web2.Models;

@model WebNpfCorrespViewModel

@Html.Partial("_CorrespondenceItemLinksTabGridViewPartial", new object[] { Model.FormData, Model.LDItems, Model.ID }, ViewData)

<div class="line">
    @Html.DevExpress().Button(settings =>
    {
        FrontEndHelper.GenerateButtonSettings(settings, 100, "Добавить", "btnAddLinkedDoc", Model);
        settings.ClientSideEvents.Click = $"function(s,e){{if({Model.IsEditAccessDenied().ToString().ToLower()}) return; OnRibbonCommandExecutedExternal('NpfCorrespLinkedItem', 'Npf', 0, 1); }}";
        if(settings.ClientEnabled == true)
            if(Model.ID == 0)
                settings.ClientEnabled = false;

    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {   
        settings.Text = "Удалить";
        settings.Name = "btnDeleteLinkedDoc";
        settings.Width = 100;
        settings.ControlStyle.CssClass = "padding4";
        settings.ClientSideEvents.Click = $"function(s,e){{if({Model.IsEditAccessDenied().ToString().ToLower()}) return; if(confirm('{Model.CustomDeleteMessage}') !== true) return; deleteEntryId=listParentEntryId; CorrespItemLinksGridView.PerformCallback(); }}";
        settings.ClientEnabled = Model.LDItems.Count > 0 && Model.IsEditAccessAllowed();
    }).GetHtml()
</div>