﻿@using PFR_INVEST.Web2.Models;

@model WebNpfCorrespLinkedItemViewModel

@{
    var defTextWidth = 400;
    var defLabelWidth = 250;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)
@if (Model.AttachDefaultGridScripts)
{
    @Html.Partial("_ListScriptIncludePartialView", Model, ViewData)
}

@Html.DevExpress().TextBoxFor(model => model.AjaxRequestParamValue, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "AjaxRequestParamValue")).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.ID, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "ID")).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.AttachClassificID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.AttachClassificID, settings =>
    {
        FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Name", "ID", typeof(long));
    }).BindList(Model.ClassificationList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.Additional, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Additional, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.ControlDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.ControlDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.ExecutionDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.ExecutionDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.AdditionalToExecution, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.AdditionalToExecution, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.OriginalPlaceID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.OriginalPlaceID, settings =>
    {
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Name", "ID", typeof(long));
    }).BindList(Model.StoragePlacesList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.Comment, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Comment, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>


@Html.DevExpress().TextBoxFor(model => model.SelectedFileName2, s => FrontEndHelper.GenerateHiddenTextBoxSettings(s, "SelectedFileName2")).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.DisplayFileName2, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.DisplayFileName2, s => FrontEndHelper.GenerateReadonlyTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

@Html.Partial("_CorrespondenceLinkedItemUploadViewPartial", Model, ViewData)
