﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfSpnCreateOrderViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 200;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.AjaxRequestParamValue, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "AjaxRequestParamValue")).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.TrancheNumber, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.TrancheNumber, s=> FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.TrancheDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.TrancheDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().CheckBoxFor(model => model.IncludeINNKPP, settings =>
    {
    FrontEndHelper.GenerateCheckBoxSettings(settings, "", Model);
    var mData = ModelMetadata.FromLambdaExpression(m => m.IncludeINNKPP, ViewData);
    if(mData != null && !string.IsNullOrEmpty(mData.DisplayName))
    settings.Text = mData.DisplayName; 
    }).GetHtml()
</div>


