@using PFR_INVEST.Web2.BusinessLogic.Models

@model IWebListViewModel

@if (Model.AttachDefaultGridScripts)
{
@Html.Partial("_ListScriptIncludePartialView", Model, ViewData)
}

<script>
    function listRowDoubleClickSpecial(s, e, regId, finregId) {
        debugger;

        s.GetValuesOnCustomCallback(e.visibleIndex,
            function(v) {
                if (v != null && v) {
                    var data = JSON.parse(v);
                    OnRibbonCommandExecutedExternal(data.register_id > 0 ? regId : finregId, '@Model.AjaxController', data.register_id > 0 ? data.register_id : data.fr_id, 0, 0, data.fr_id > 0 ? regId : null);
                }
            });
    }

    function listFocusedRowChangedSpecial(s, e) {
        debugger;
        listParentEntryName = s.name;
        s.GetValuesOnCustomCallback(s.GetFocusedRowIndex(),
            function(v) {
                if (v != null && v) {
                    var data = JSON.parse(v);
                    listParentEntryId = data.register_id > 0 ? data.register_id : 0;
                    listEntryId = data.fr_id > 0 ? data.fr_id : 0;
                    selectedListParamArray = {};
                    selectedListParamArray['NpfSpnFinregisterItem'] = data.register_id > 0;
                    selectedListParamArray['CanCreateOrder'] = data.can_create_order;
                    selectedListParamArray['CanPrintLetter'] = data.can_print_letter;
                    selectedListParamArray['NpfSpnStatusReqItem'] = data.status_req;
                    selectedListParamArray['NpfSpnStatusGiveItem'] = data.status_give;
                    selectedListParamArray['NpfSpnStatusRefineItem'] = data.status_refine;
                    selectedListParamArray['NpfSpnStatusFixedItem'] = data.status_fixed;
                    selectedListParamArray['NpfSpnStatusNotTrItem'] = data.status_nottr;
                    selectedListParamArray['NpfSpnStatusRollbackItem'] = data.status_rollback;
                    selectedListParamArray['NpfSpnSelectPPItem'] = data.pp_select;
                    
                    globalUpdateButtonsVisibility(true, '@Model.AjaxController', data.register_id > 0 ?'register' : 'finregister');
                }
            });
    }
</script>

<div class="gridHorizontalScrollDiv">
    @Html.Partial("_SpnRegisterListContainerViewPartial", Model)
</div>
