﻿@using PFR_INVEST.Web2.BusinessLogic.Models

@model IWebViewModel

@if(Model.IsDeleteCompleted)
{
<script src="~/Scripts/Custom/FadeDivScript.js"></script>
<div id="fadediv" class="btn btn-danger fadeDiv">Форма успешно удалена!</div>
<script>
    $(function () {
        debugger;
        var addon = ( @ViewData["Layer"] === 0 ? "" : @ViewData["Layer"] );
        if (eval("typeof backNotifyPopupSaveCompleted" + addon) === 'function')
            eval("backNotifyPopupSaveCompleted"+addon+"('@Model.FormId')");
    });
</script>
}
else if (Model.IsSaveCompleted)
{
    <script src="~/Scripts/Custom/FadeDivScript.js"></script>
    <div id="fadediv" class="btn btn-success fadeDiv">Форма успешно сохранена!</div>
    <script>
        $(function () {
            debugger;
            var addon = ( @ViewData["Layer"] === 0 ? "" : @ViewData["Layer"] );
            if (eval("typeof backNotifyPopupSaveCompleted" + addon) === 'function')
                eval("backNotifyPopupSaveCompleted"+addon+"('@Model.FormId')");
        });
    </script>
}
else
{
    if(!string.IsNullOrEmpty(Model.WebLastModelError))
    {
        <script src="~/Scripts/Custom/ErrorDivScript.js"></script>
        <div id="fadediv" class="btn btn-danger fadeDiv">@Model.WebLastModelError</div>
    }
}

