﻿@using PFR_INVEST.Web2.BusinessLogic

@{ 
    var CATID = ViewData["Category"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тонкий клиент ПТК ДОКИП</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/aftercss")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")

    @Html.DevExpress().GetStyleSheets( 
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    )
    @Html.DevExpress().GetScripts( 
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.GridView }
    )

    @section npfgridinclude
    {
        <script type="text/javascript" src="@Url.Content("~/Scripts/Core/Lists/NpfListViewInclude.js")"></script> 
    }

</head>
<body class="body-bg">
    <script src="~/Scripts/Core/Globals.js"></script>
    <script src="~/Scripts/Custom/AutoNavbarHeight.js"></script>
    <script src="~/Scripts/Custom/DicRibbonCommands.js"></script>
    <script src="~/Scripts/Custom/test.js"></script>

    <script>

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        var lastHistoryElement;

        $(function () {
            updateHistoryPanel();
        });

        function updateHistoryPanel() {
            if ($("#historyPanel").length === 0) return;
            if (!historyPanel.InCallback())
                historyPanel.PerformCallback();
        }

        function OnRemoveHistoryElement(id) {
            lastHistoryElement = id;
            updateHistoryPanel();
        }


        function OnHistoryPanelBeginCallback(s, e) {
            e.customArgs["FormID"] = lastHistoryElement;
            lastHistoryElement = null;
        }

        function OnHistoryPanelEndCallback(s, e) {
            if ($("#historyPanel").length === 0) return;
            if (lastHistoryElement != null)
                historyPanel.PerformCallback();
        }
    </script>

    <div class="navbar navbar-fixed-top header-bg" id="headerContent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-fixed-325">
                    <a href='@Url.Action("Index", "Dictionary")'>
                        <img src='@Url.Content("~/Content/Images/logo.png")' style="width: 300px">
                    </a>
                </div>

                @if (Request.IsAuthenticated)
                {
                    @Html.Partial("~/Views/Shared/Controls/_MainMenu.cshtml")
                }

                <div class="col-fixed-200" id="loginheadercolumn">
                    @Html.Partial("_LoginPartial2")
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        @if (Request.IsAuthenticated)
        {
            @Html.Partial("_HistorySideBar")
        }
        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">
            <div class="container-fluid body-content">
                @if (Request.IsAuthenticated)
                {                    
                    @Html.Partial($"~/Views/Shared/Ribbon/_Ribbon{ViewData["Category"]}.cshtml",ViewData)
                }

                @RenderBody()
                <div id="layoutFooterContainer" style="height: 0px;"></div>
            </div>
        </div>
    </div>

@Html.DevExpress().LoadingPanel(FrontEndHelper.GenerateExtLoadingPanelSettings()).GetHtml()

<script>

    $("#wrapper").bind("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd",
        function() { 
            AdjustGridViewSize(null);
            AdjustRibbonWidth();
        });
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if($("#menu-toggle").hasClass('flippedImg'))
            $("#menu-toggle").removeClass('flippedImg');
        else $("#menu-toggle").addClass('flippedImg');
    });

    function hideLoad() {
        loadingPanel.Hide();
    }

    function hideLoadF() {
        loadingPanel.Hide();
    }
</script>

    @RenderSection("scripts", required: false)
</body>
</html>
