﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
    
        <div>
            <div class="row">
                <div class="col-2">
                    <img src="/Content/Images/person.png" class="loginIcon">
                </div>
                <div class="col-6">
                    <div class="loginName">@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage")</div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <a class="btn btn-info loginBtn" href="javascript:document.getElementById('logoutForm').submit()" style="margin: 5px; width: 190px;">
                        Выход
                    </a>
                </div>
            </div>
        </div>
    }
}
else
{
    @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-info loginBtn" })
}
