@using PFR_INVEST.Web2.BusinessLogic.Models

@model IWebListViewModel

@if (Model.AttachDefaultGridScripts)
{
@Html.Partial("_ListScriptIncludePartialView", Model, ViewData)
}

<script>
    function listRowDoubleClickSpecial(s, e, regId, finregId) {
        debugger;

        s.GetValuesOnCustomCallback(e.visibleIndex,
            function(v) {
                if (v != null && v) {
                    var data = JSON.parse(v);
                    regId = data.is_return ? 'NpfTempDeallocItem' : 'NpfTempAllocItem';
                    OnRibbonCommandExecutedExternal(data.register_id > 0 ? regId : finregId, '@Model.AjaxController', data.register_id > 0 ? data.register_id : data.fr_id, 0, 0, data.fr_id > 0 ? regId : null);
                }
            });
    }

    function listFocusedRowChangedSpecial(s, e) {
        debugger;
        listParentEntryName = s.name;
        s.GetValuesOnCustomCallback(s.GetFocusedRowIndex(),
            function(v) {
                if (v != null && v) {
                    var data = JSON.parse(v);
                    listParentEntryId = data.register_id > 0 ? data.register_id : 0;
                    listEntryId = data.fr_id > 0 ? data.fr_id : 0;
                    selectedListParamArray = {};
                    globalUpdateButtonsVisibility(true, '@Model.AjaxController');
                } else {
                    globalUpdateButtonsVisibility(false, '@Model.AjaxController');
                }
            });
    }
</script>

<div class="gridHorizontalScrollDiv">
    @Html.Partial("_TempAllocationListContainerViewPartial", Model)
</div>
