﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfRedistZlViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 250;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)
@if (Model.AttachDefaultGridScripts)
{
   // ViewData["FocusedRowMethodName"] = "listFocusedRowChanged2";
   // ViewData["ClickRowMethodName"] = "listRowDoubleClick2";
    @Html.Partial("_ListScriptIncludePartialView", Model, ViewData)
}

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.Company, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Company, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FZ_ID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.FZ_ID, settings =>
    {
        FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Name", "ID", typeof(long));
    }).BindList(Model.FZList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.WebDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.WebDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().Button(settings =>
    {
        FrontEndHelper.GenerateButtonSettings(settings, 200, "Добавить", "btnAddNotice", Model);
        settings.ClientSideEvents.Click = $"function(s,e){{if({Model.EditAccessDenied.ToString().ToLower()}) return; debugger; OnRibbonCommandExecutedExternal(\"NpfRedistZlNoticeItem\",\"Npf\", 0, 1,{Model.ID},'{Model.FormId}');  }}";
        settings.ClientEnabled = !Model.EditAccessDenied && Model.ID > 0;
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        FrontEndHelper.GenerateButtonSettings(settings, 200, "Удалить", "btnDeleteNotice", Model);
        settings.ClientSideEvents.Click = $"function(s,e){{if({Model.EditAccessDenied.ToString().ToLower()}) return; if(confirm('{Model.CustomDeleteMessage}') !== true) return; debugger; deleteEntryId=selectedNoticeListId; NoticesGridView.PerformCallback(); }}";
        settings.ClientEnabled = false;
    }).GetHtml()


</div>


@Html.Partial("_RzlItemGridViewPartial", Model.NotifiesList, ViewData)



