﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfRedistZlNoticeViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 250;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.AjaxRequestParamValue, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "AjaxRequestParamValue")).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.ID, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "ID")).GetHtml()


<div class="line">
    @Html.DevExpress().LabelFor(model => model.SelectedNPFID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.SelectedNPFID, settings =>
{
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "FormalizedNameFull", "ID", typeof(long));
    settings.Properties.ClientSideEvents.SelectedIndexChanged = $"function(s,e){{ AjaxRequestParamValue.SetText('1'); SubmitAjaxForm('{Model.FormId}'); }}";
}).BindList(Model.NPFList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.INN, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.INN, settings => FrontEndHelper.GenerateReadonlyTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.WebCompany, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.WebCompany, settings => FrontEndHelper.GenerateReadonlyTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.Content, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Content, settings => FrontEndHelper.GenerateReadonlyTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.NotifyNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.NotifyNum, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.WebNoticeDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.WebNoticeDate, settings => FrontEndHelper.GenerateReadonlyDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.PFR2NPFCount, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.PFR2NPFCount, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>

@if(Model.Is75FZBool) {
<div class="line">
    @Html.DevExpress().LabelFor(model => model.NPF2PFRCount, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.NPF2PFRCount, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.OTHER2NPFCount, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.OTHER2NPFCount, settings => FrontEndHelper.GenerateReadonlyTextBoxSettings(settings, defTextWidth, Model, false)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.NPF2OTHERCount, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.NPF2OTHERCount, settings => FrontEndHelper.GenerateReadonlyTextBoxSettings(settings, defTextWidth, Model, false)).GetHtml()
</div>

}