﻿@using PFR_INVEST.Web2.BusinessLogic.Models
@using PFR_INVEST.Web2.BusinessLogic

@model IWebViewModel

<div class="line2">
    <div>
        @Html.DevExpress().Button(FrontEndHelper.GenerateVisibleSubmitButtonSettings(Model)).GetHtml()
    </div>
    <div>
        @Html.DevExpress().Button(settings => FrontEndHelper.GenerateCloseButtonSettings(settings, Model, (int)ViewData["Layer"])).GetHtml()
    </div>
</div>