﻿@using PFR_INVEST.Web2.BusinessLogic
@using PFR_INVEST.DataObjects.ListItems

@model object[]

@Html.DevExpress().GridView(settings =>
{
    settings.Name = $"DzlAddGridView";
    FrontEndHelper.SetupInboundAutoGridViewSettings(settings, ViewContext);
    // settings.CallbackRouteValues = new { Controller = "Dictionary", Action = "NpfIdentifiersGridCallback", leID = ViewData["EntryID"] ?? "0" };
    //settings.ClientSideEvents.FocusedRowChanged = "function(s,e) { OnGlobalGridViewSelectionChanged(s,\"btnDeleteIdentifier\",\"selectedIdentifierListId\", \"npfidentifier\") }";
    //settings.ClientSideEvents.BeginCallback = "function(s,e) { e.customArgs[\"DeleteID\"] = deleteEntryId; deleteEntryId=null; }";
    settings.ClientSideEvents.RowDblClick = $"function(s,e) {{ OnGlobalGridViewEntryDblClick(s, 'ID', 'NpfDzlEditItem', 'Dictionary'); }}";

    settings.KeyFieldName = "ID";
    settings.Settings.ShowStatusBar = GridViewStatusBarMode.Hidden;
    settings.CallbackRouteValues = new { Controller = "Npf", Action = "DzlAddGridViewCallback" };
    settings.SettingsEditing.BatchUpdateRouteValues = new { Controller = "Npf", Action = "DzlAddGridViewUpdateCallback" };
    //передаем дату серверу, чтобы получить правильную выборку записей
    settings.ClientSideEvents.BeginCallback = $@"function (s,e) {{ debugger; var dc=deSelectDate.GetDate(); var date=dc.getDate()+'.'+dc.getMonth()+'.'+dc.getFullYear(); e.customArgs['DATE']=date; }}";
    //
    settings.SettingsEditing.Mode = GridViewEditingMode.Batch;
    settings.SettingsEditing.BatchEditSettings.EditMode = GridViewBatchEditMode.Cell;
    settings.SettingsEditing.BatchEditSettings.StartEditAction = GridViewBatchStartEditAction.FocusedCellClick;
    settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
    settings.SettingsBehavior.AllowSelectByRowClick = false;

    settings.Columns.Add(column =>
    {
        column.FieldName = "NPFName";
        column.Caption = "Идентификатор НПФ";
        column.Settings.ShowEditorInBatchEditMode = false;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Ascending;
        column.SortIndex = 1;
        column.ReadOnly = true;
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Count";
        column.Caption = "Количество";
        column.Width = 250;
        column.EditorProperties().SpinEdit(p =>
        {
            p.NumberType = SpinEditNumberType.Integer;
            p.MinValue = 0;
            p.MaxValue = 10000000;
        });
    });

    settings.CellEditorInitialize = (s, e) =>
    {
        ASPxEdit editor = (ASPxEdit)e.Editor;
        editor.ValidationSettings.Display = Display.None;
    };

}).Bind(Model[1]).GetHtml()


