﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfViewModel

@{ 
var defTextWidth = 400;
var defLabelWidth = 300;
}

@if (Model.HasParentReorganizationsBool)
{
    <div class="line">
        @Html.DevExpress().Label(settings => FrontEndHelper.GenerateLabelSettings(settings, "НПФ-правопреемник", defLabelWidth)).GetHtml()
    </div>

    @Html.DevExpress().GridView(settings =>
    {
        settings.Name = "ParentReorgsGridView";
        FrontEndHelper.SetupDefaultGridViewSettings(settings, ViewContext);
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = false;
        settings.Settings.ShowHeaderFilterButton = true;
        settings.SettingsPopup.HeaderFilter.Height = 200;

        settings.Columns.Add("ReorganizationDate", "Дата").PropertiesEdit.DisplayFormatString = "d";
        settings.Columns.Add("ReorganizationTypeName", "Вид");
        settings.Columns.Add("ReceiverName", "Наименование НПФ");
        settings.Columns.Add("RegNum", "Номер приказа ФСФР");
        settings.Columns.Add("OrderDate", "Дата приказа ФСФР").PropertiesEdit.DisplayFormatString = "d";
        settings.Height = 50;
    }).Bind(Model.ParentReorganizationsList).GetHtml()
}

@if(Model.HasReorganizationsBool)
{
    <div class="line">
        @Html.DevExpress().Label(settings => FrontEndHelper.GenerateLabelSettings(settings, "НПФ-правопреемник", defLabelWidth)).GetHtml()
    </div>

    @Html.DevExpress().GridView(settings =>
    {
        FrontEndHelper.SetupDefaultGridViewSettings(settings, ViewContext);
        settings.Name = $"ReorgsGridView";
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = false;
        settings.Settings.ShowHeaderFilterButton = true;
        settings.SettingsPopup.HeaderFilter.Height = 200;

        settings.Columns.Add("ReorganizationDate", "Дата").PropertiesEdit.DisplayFormatString = "d";
        settings.Columns.Add("ReorganizationTypeName", "Вид");
        settings.Columns.Add("SourceName", "Наименование НПФ");
        settings.Columns.Add("RegNum", "Номер приказа ФСФР");
        settings.Columns.Add("OrderDate", "Дата приказа ФСФР").PropertiesEdit.DisplayFormatString = "d";
        settings.Height = 50;
    }).Bind(Model.ReorganizationsList).GetHtml()
}


