﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfContactViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 100;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.LegalEntityID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.TypeID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.LastName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LastName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.LastName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FirstName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "FirstName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FirstName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.MiddleName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "MiddleName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.MiddleName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Position, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "Position")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Position, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.WorkPhone, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "WorkPhone")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.WorkPhone, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "+7 (999) 999 99 99");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.WorkPhoneExtension, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "WorkPhoneExtension")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.WorkPhoneExtension, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.MobilePhone, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "MobilePhone")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.MobilePhone, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "+7 (999) 999 99 99");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Email, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "Email")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Email, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Comment, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "Comment")).GetHtml()
    @Html.DevExpress().MemoFor(model => model.Comment, settings => FrontEndHelper.GenerateMemoSettings(settings, defTextWidth, 100, Model)).GetHtml()
</div>
