﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfBankAccountViewModel

@{ 
var defTextWidth = 400;
var defLabelWidth = 350;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)


@Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.LegalEntityID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.PfrBranchID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()


<div class="line">
    @Html.DevExpress().LabelFor(model => model.BankAccountLegalEntityName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "BankAccountLegalEntityName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BankAccountLegalEntityName, settings =>
{
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.BankAccountAccountNumber, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "BankAccountAccountNumber")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BankAccountAccountNumber, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "9 99 99 999 9 9999 999 9999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.BankAccountBankName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "BankAccountBankName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BankAccountBankName, settings =>
{
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.BankAccountBankLocation, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "BankAccountBankLocation")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BankAccountBankLocation, settings =>
{
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.BankAccountCorrespondentAccountNumber, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "BankAccountCorrespondentAccountNumber")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BankAccountCorrespondentAccountNumber, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "9 99 99 999 9 9999 999 9999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.BankAccountCorrespondentAccountNote, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "BankAccountCorrespondentAccountNote")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BankAccountCorrespondentAccountNote, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>


<div class="line">
    @Html.DevExpress().LabelFor(model => model.BankAccountBIK, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "BankAccountBIK")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BankAccountBIK, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "999999999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.BankAccountINN, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "BankAccountINN")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BankAccountINN, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "9999999999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.BankAccountKPP, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "BankAccountKPP")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BankAccountKPP, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "999999999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>


