﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 250;
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.LegalAddress, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LegalAddress")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.LegalAddress, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.PostalAddress, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "PostalAddress")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.PostalAddress, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.RealAddress, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "RealAddress")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.RealAddress, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Phone, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "Phone")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Phone, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Fax, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "Fax")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Fax, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.EMail, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "EMail")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.EMail, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Site, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "Site")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Site, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
