﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfStopZLViewModel

@{ 
    var defTextWidth = 200;
    var defLabelWidth = 280;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.LegalEntityID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.ContragentID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.StartDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.StartDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.EndDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.EndDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.DocumentDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.DocumentDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.RegNum, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>

