﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfViewModel

@{ 
var defTextWidth = 400;
var defLabelWidth = 300;
}

<script type="text/javascript">
</script>

<div class="line">
    @Html.DevExpress().Button(settings =>
{
    FrontEndHelper.GenerateButtonSettings(settings, 200, "Удалить", "btnDeleteIdentifier", Model);
    settings.ClientSideEvents.Click = $"function(s,e){{if({Model.EditAccessDenied.ToString().ToLower()}) return; if(confirm('{Model.CustomDeleteMessage}') !== true) return; debugger; deleteEntryId=selectedIdentifierListId; IdentifiersGridView.PerformCallback(); }}";
    settings.ClientEnabled = false;
}).GetHtml()
</div>

@Html.Partial("_NpfCreateNpfIdentifiersGridViewPartial", Model.IdentifierList, ViewData)
