﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfReorgViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 100;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.LegalEntityID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()

@Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.SourceContragentID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()

@Html.DevExpress().TextBoxFor(model => model.ReceiverName, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.SourceName, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()


<div class="line">
    @Html.DevExpress().LabelFor(model => model.ReorganizationDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "ReorganizationDate")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.ReorganizationDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.OrderDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "OrderDate")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.OrderDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "RegNum")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.RegNum, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.ReorganizationTypeID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "ReorganizationTypeID")).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.ReorganizationTypeID, settings =>
{
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Type", "ID", typeof(long));
}).BindList(Model.ReorganizationTypeList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.ReceiverContragentID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "ReceiverContragentID")).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.ReceiverContragentID, settings =>
    {
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Name", "ID", typeof(long));
    }).BindList(Model.ContragentList).GetHtml()
</div>
