﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 300;
}

@Html.DevExpress().TextBoxFor(model => model.WebDoChiefRetire, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()


@if (Model.RetireMode != WebNpfViewModel.EnRetireMode.Retired)
{
    <div class="line">
        @Html.DevExpress().LabelFor(model => model.HeadLastName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadLastName")).GetHtml()
        @Html.DevExpress().TextBoxFor(model => model.HeadLastName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
    </div>
    <div class="line">
        @Html.DevExpress().LabelFor(model => model.HeadFirstName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadFirstName")).GetHtml()
        @Html.DevExpress().TextBoxFor(model => model.HeadFirstName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
    </div>
    <div class="line">
        @Html.DevExpress().LabelFor(model => model.HeadPatronymicName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadPatronymicName")).GetHtml()
        @Html.DevExpress().TextBoxFor(model => model.HeadPatronymicName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
    </div>
}
<div class="line">
    @Html.DevExpress().LabelFor(model => model.HeadPosition, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadPosition")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.HeadPosition, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.HeadAccordingTo, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadAccordingTo")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.HeadAccordingTo, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.HeadWorkPhone, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadWorkPhone")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.HeadWorkPhone, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "+7 (999) 999 99 99");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.HeadWorkPhoneExtension, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadWorkPhoneExtension")).GetHtml()
    @Html.DevExpress().SpinEditFor(model => model.HeadWorkPhoneExtension, settings =>
{
    FrontEndHelper.GenerateTextSpineditSettings(settings, defTextWidth, Model);
    settings.Properties.MaxLength = 5;
}).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.HeadMobilePhone, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadMobilePhone")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.HeadMobilePhone, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "+7 (999) 999 99 99");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.HeadEmail, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadMail")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.HeadEmail, settings =>
    {
        FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
    }).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.HeadInaugurationDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadInaugurationDate")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.HeadInaugurationDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
@if (Model.RetireMode == WebNpfViewModel.EnRetireMode.Retired)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.HeadRetireDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "HeadRetireDate")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.HeadRetireDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
}
else
{
@Html.DevExpress().DateEditFor(model => model.HeadRetireDate, settings => settings.ClientVisible=false).GetHtml()

}
@if (Model.RetireMode == WebNpfViewModel.EnRetireMode.CanRetire)
{
    <div class="line">
        @Html.DevExpress().Button(settings =>
   {
       FrontEndHelper.GenerateButtonSettings(settings, 250, "Прекращение полномочий", "btnDismissHead", Model);
        settings.ClientSideEvents.Click = $"function (s,e) {{ if({(!Model.EditAccessDenied).ToString().ToLower()}) OnRibbonCommandExecutedExternal(\"dlgRetireChief\",\"Dictionary\", 0, 1); }}";
       settings.ClientEnabled = Model.CanExecuteRetireChief();
   }).GetHtml()
    </div>
}
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Comment, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "Comment")).GetHtml()
    @Html.DevExpress().MemoFor(model => model.Comment, settings => FrontEndHelper.GenerateMemoSettings(settings, defTextWidth, 50, Model)).GetHtml()
</div>

@Html.DevExpress().GridView(settings =>
{
    settings.Name = $"ChiefGridView";
    FrontEndHelper.SetupInboundGridViewSettings(settings, ViewContext);

    settings.Columns.Add("LastName", "Фамилия");
    settings.Columns.Add("FirstName", "Имя");
    settings.Columns.Add("PatronymicName", "Отчество");
    settings.Columns.Add("InaugurationDate", "Дата вступления в должность").PropertiesEdit.DisplayFormatString = "d";
    settings.Columns.Add("RetireDate", "Дата прекращения полномочий").PropertiesEdit.DisplayFormatString = "d";
}).Bind(Model.ChangedLegalEntityChiefList).GetHtml()

<div id="npfChiefPopup"></div>
<div id="npfChiefScrPopup"></div>