﻿@using PFR_INVEST.Web2.BusinessLogic
@using PFR_INVEST.DataObjects

@model List<LegalEntityCourierLetterOfAttorney>

@Html.DevExpress().GridView(settings =>
{
    settings.Name = $"CourierLoaGridView";
    FrontEndHelper.SetupInboundGridViewSettings(settings, ViewContext);
    settings.CallbackRouteValues = new { Controller = "Dictionary", Action = "NpfCourierLoaGridCallback", leID = ViewData["EntryID"] ?? "0" };

    settings.ClientSideEvents.FocusedRowChanged = $"function(s,e) {{ OnGlobalGridViewSelectionChanged(s,\"btnDeleteLoa\",\"selectedCourierLoaListId\", \"npfcourierloa\") }}";
    settings.ClientSideEvents.BeginCallback = "function(s,e) { debugger; e.customArgs[\"DeleteID\"] = deleteEntryId; deleteEntryId=null; }";

    settings.Columns.Add("Number", "№ доверенности");
    settings.Columns.Add("IssueDate", "Дата выдачи доверенности").PropertiesEdit.DisplayFormatString = "d";
    settings.Columns.Add("ExpireDate", "Дата окончания действия").PropertiesEdit.DisplayFormatString = "d";
    settings.Columns.Add("RegisterDate", "Дата регистрации в ПФР").PropertiesEdit.DisplayFormatString = "d";
}).Bind(Model).GetHtml()