﻿@{
    ViewBag.Title = "ПТК ДОКИП - Работа с НПФ";
}

<div class="text-center" id="FormHeaderContainer">
    <h4 id="FormHeader" style="padding: 0;"></h4>
</div>

<script src="~/Scripts/Custom/AutoGridViewSize.js"></script>
<script src="~/Scripts/Core/FormInputCheck.js"></script>
<script src="~/Scripts/Core/Npf/NpfCoreScripts.js"></script>

<div id="ajaxdiv">
    <img src="~/Content/Images/pfr_logo.png" alt="" class="center-block text-center bgimg" />
</div>

@*Обязательные теги для страницы раздела*@
<div id="popupscriptdiv"></div>
<div id="popupdiv"></div>
<div id="popupscriptdiv1"></div>
<div id="popupdiv1"></div>
<div id="popupscriptdiv2"></div>
<div id="popupdiv2"></div>
<div id="popupscriptdiv3"></div>
<div id="popupdiv3"></div>
